@use "src/styles/variables" as *;

.passwordResetContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 15% auto 5% auto;

  @include mq(tab) {
    margin: 25% auto 0 auto;
  }
  @include mq(pc) {
    margin: 5% auto;
  }
}

.passwordResetTitle {
  font-size: $title-size;
  font-weight: 700;
  color: $purple;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.passwordResetForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 15%;

  @include mq(tab) {
    margin-top: 5%;
  }

  @include mq(pc) {
    margin-top: 5%;
  }
}

.passwordResetInput {
  width: 80vw;
  height: 2rem;
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: $text-size;
  font-weight: 400;
  color: $black;
  background: $white;
  transition: all 0.3s ease;
  display: block;

  @include mq(tab) {
    width: 40vw;
  }

  @include mq(pc) {
    width: 40vw;
  }
}

.passwordResetButton {
  width: 80vw;
  height: 3rem;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 10% 0;
  font-size: $text-size;
  font-weight: 700;
  color: $white;
  background: $purple;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;

  @include mq(tab) {
    width: 40vw;
    margin: 5% 0;
  }

  @include mq(pc) {
    width: 40vw;
    margin: 3% auto;
  }
}
