.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #6b5b95;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.signinContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signinChildrenWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.emailWrapper {
  margin-bottom: 1rem;
}

.emailText {
  font-size: 1rem;
  font-weight: 400;
  justify-content: start;
  margin-bottom: 0.2rem;
}
.passwordText {
  font-size: 1rem;
  font-weight: 400;
  justify-content: start;
  margin-bottom: 0.2rem;
}

.emailInput {
  width: 80vw;
  height: 2rem;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 400;
  color: #0e0e0e;
  background: #fefefe;
  transition: all 0.3s ease;
}

.passwordInput {
  width: 80vw;
  height: 2rem;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 400;
  color: #0e0e0e;
  background: #fefefe;
  transition: all 0.3s ease;
}

.signinButton {
  width: 80vw;
  height: 3rem;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 700;
  color: #fefefe;
  background: #6b5b95;
  cursor: pointer;
  transition: all 0.3s ease;
}
