@use "src/styles/variables" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: $white;
  line-height: 1rem;
  padding: 5%;

  @include mq(tab) {
    padding: 3%;
  }

  @include mq(pc) {
    padding: 2%;
  }
}

.logo {
  color: $purple;
  font-size: $title-size;
  font-weight: 700;
}
