@use "src/styles/variables" as *;

.homeIconContainer {
  width: 95vw;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
  margin: 2% auto;

  @include mq(tab) {
    width: 70vw;
  }

  @include mq(pc) {
    width: 60vw;
  }
}

.calcContainer {
  max-width: 80vw;
  margin: 20% auto;
  padding: 1rem 0;

  @include mq(pc) {
    width: 40vw;
    margin: 5% auto;
  }
}
