body {
  background-color: #f9fafb;
  color: #0e0e0e;
}

html {
  font-family: var(--font-noto-sans-jp), var(--font-roboto), sans-serif;
  font-size: 16px;
}

/* input欄をタップした際にズームしないように */
input,
select,
textarea {
  font-size: 16px;
}
