@use "src/styles/variables" as *;
@use "@/app/components/Calc/Calc.module.scss" as *;

.saveButton {
  background: $purple;
  color: $white;
  border: none;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  width: 50vw;
  margin: 10% auto;
  display: block;

  @include mq(pc) {
    width: 20vw;
  }
}
