@use "src/styles/variables" as *;

.HistoryContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.historyPopupTitle {
  margin-bottom: 0.5rem;
  font-size: $text-size;
  font-weight: 600;
  color: $black;
}

.historyPopupContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historyPopup {
  position: absolute;
  width: 80vw;
  top: 120%;
  left: 10%;
  z-index: 100;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 16px;

  @include mq(tab) {
    width: 40vw;
  }

  @include mq(pc) {
    width: 30vw;
  }
}

.historyItem {
  display: flex;
  margin: 10% 0;
  align-items: center;
}

.timeStamp {
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
  line-height: 1.5;
}

.Text {
  margin: 0.5rem 0;
  font-size: $text-size;
  color: $black;
  letter-spacing: 0.05rem;
}

.deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: $purple;
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;

  margin-bottom: 1rem;
}

.deleteIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: $white;
}

.historyListContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
