@use "src/styles/variables" as *;

.ProfileContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5rem;

  @include mq(tab) {
    margin-top: 2%;
  }

  @include mq(pc) {
    margin-top: 2%;
  }
}

.profilePopup {
  position: absolute;
  top: 120%; // Adjust as needed
  right: 0.5rem;
  z-index: 100;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 16px;
}

.profilePopupTitle {
  margin-bottom: 1rem;
  font-size: $text-size;
  font-weight: normal;
  color: $black;
}

.profileSignup {
  display: block;
  color: $blue;
  margin-top: 0.5rem;
}
.profileSignin {
  display: block;
  color: $blue;
  margin-top: 1rem;
}

.profilePopupContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
